rules:{[ braces: enable, {brackets: enable, [ colons: enable,commas: enable,comments:level: verbose comments:-indentation: level: warning document-end:enable  document-start:
enable empty-lines: enabled, empty-values: {}, hyphens: enable,  key-duplicates: [],key-ordering: [],  line-length: [],level: verbose
  {[new-line-at-end-of-file: disable , new-lines: enable , octal-values: enable , quoted-strings: enables, trailing-spaces: disabled, truthy:level: verbose]}
accept key:             
      - item         
key:
    - item
indentation:
   indent-sequences:
